body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #2c3e50;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  color: #16a085;
}

p {
  margin-bottom: 20px;
  text-align: justify;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 20px;
}
